<div class="main wrap">
<!--Display flash[:message] if available -->
<% if flash.has?(:message) %>
<div class="alert alert-dismissible alert-success animated fadeInDown">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><%= flash[:message] %></p>
</div>
<% end %>

<h1>Welcome <%=  @user.username %>!</h1>
<a class="btn btn-primary" href="/workout">Generate Workout</a>

<h3>Personal stat's:</h3>

<p><strong>Gender: </strong><%=@user.gender.capitalize %></p>
<p><strong>Weight: </strong><%=@user.weight %></p>
<p><strong>Height: </strong><%=@user.height %></p>
<p><strong>Age: </strong><%=@user.age %></p>
<p><strong>Goal: </strong><%=@user.goal.capitalize %></p>

<h3>Recent Tracked Workouts:</h3>
<%@user.logs.each.with_index(1) do |log, i|%>
  <% t = log.created_at%>
  <%= i%>. Date: <i><%=t.month%>/<%=t.day%>/<%=t.year%></i> <strong><%=log.name%></strong>: [Sets: <%=log.set%> Reps: <%=log.rep%>] <br>
<%end%><br>

<h3>Favorite Workouts:</h3>
<%@user.favorite_workouts.each.with_index(1) do |fav, i|%>
  <%= i%>
  <% fav.exercises.each do |ex|%>
    .<%= ex.name %> Reps: <%= fav.rep%> Sets:<%= fav.set%>
    <% end %><br>
<%end%><br>

</div>

