<h2><%= @user.username %>, here is your workout for you today:</h2>


<h3>1. <%=@exercise_1.name%></h3>
<p><%=@exercise_1.description%></p>
<h3>Do <%=@set_1%> sets of <%=@rep_1%> reps of <%=@exercise_1.name%>.</h3>

<br></br>

<a href="users/<%=@exercise_1.name%>/<%=@rep_1%>/<%=@set_1%>">Click here to favorite this workout!</a>

<br></br>

<h3>2. <%=@exercise_2.name%></h3>
<p><%=@exercise_2.description%></p>
<h3>Do <%=@set_2%> sets of <%=@rep_2%> reps of <%=@exercise_2.name%>.</h3>

<br></br>

<a href="users/<%=@exercise_2.name%>/<%=@set_2%>/<%=@rep_2%>">Click here to favorite this workout!</a>
