<h2><%= @user.username %>, here is your workout for you today:</h2>


<h3>1. <%=@exercise_1.name%></h3>
<p><%=@exercise_1.description%></p>
<h3>Do <%=@set_1%> sets of <%=@rep_1%> reps of <%=@exercise_1.name%>.</h3>

<br></br>

<h3>2. <%=@exercise_2.name%></h3>
<p><%=@exercise_2.description%></p>
<h3>Do <%=@set_2%> sets of <%=@rep_2%> reps of <%=@exercise_2.name%>.</h3>

<br></br>

<form action="/users/<%=@exercise_1.id%>/<%=@rep_1%>/<%=@set_1%>/<%=@exercise_2.id%>/<%=@rep_2%>/<%=@set_2%>" method="post">

  <label>Check which workouts you'd like to save:</label>
  <br></br>
  <input type="checkbox" name="exercise_1[]" id="<%= @exercise_1.name %>" value="<%=@exercise_1.name%>"><%=@exercise_1.name%></input>
  <input type="checkbox" name="exercise_2[]" id="<%= @exercise_2.name %>" value="<%=@exercise_2.name%>"><%=@exercise_2.name%></input>
  <br></br>
  <input type="submit" value="Add some favorite workouts!">
  <br></br>

</form>
